.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo-img{
  height:500px;
  width:800px;
  
  /* border:4px solid #fff; */
  box-shadow: 10px 10px 23px 8px rgba(0,0,0,0.75);
}
.photo-img:hover{
  scale:2.3;
}

.header{
  font-size: 60px;
  color:#fff;

 
}
.nasa{
  color:red;
}
/* .info{
  color:#000;
  margin:2% 6%;
  line-height: 1.4;
  font-size: 25px;
  background-color:white;
  opacity: .5;
  padding:3% 4%;
  box-shadow: 10px 10px 23px 8px rgba(0,0,0,0.75);
} */
.in{
  font-size: 20px;
  margin-top:5%;
}
.TitleCard{
  color:#000;
  font-size: 44px;
  margin-top:20px;

}
.CardBody{
  margin:2% 15%;
  box-shadow: -1px 9px 21px 0px rgba(0,0,0,0.6);

}
.innerTitle{
  font-size: 30px;
}
.modalButton{
  margin-bottom: 2%;
  padding: 10px 20px;
  color:#000;
}